@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.card {
  width: 348px;
  height: 580px;
  border-radius: 28px;
}

.card-logo {
  width: 44px;
}

.card-content {
  margin-top: -20px;
}

.card-circle {
  background-color: #e1e7ed;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-left: -20px;
}

.cart-item-img {
  transform: rotate(-28deg);
  z-index: 100;
  width: 120px;
  top: -32px;
  left: -18px;
}

.product-item,
.cart-item {
  margin: 40px 0;
}

.product-img-wrapper {
  border-radius: 28px;
  height: 372px;
}

.product-img {
  border-radius: 28px;
  transform: rotate(-28deg);
  margin-left: -12px;
  margin-top: 30px;
}

.description {
  color: #777777;
  font-size: 12px;
  line-height: 1.75;
}

.add-to-cart-btn {
  background-color: #f6c90e;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 28px;
  padding: 16px 20px;
  border: none;
}

.check-btn {
  background-color: #f6c90e;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 28px;
  width: 40px;
  height: 40px;
  border: none;
}

.trash-logo-btn {
  background-color: #f6c90e;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 28px;
  width: 32px;
  border: none;
}

.add-quantity-btn,
.remove-quantity-btn {
  background-color: #ededed;
  border: none;
  border-radius: 50%;
  padding: 0 8px;
  width: 28px;
  height: 28px;
}

.add-quantity-btn img,
.remove-quantity-btn img {
  width: 10px;
}

.cart-wrapper {
  margin: 0;
}

.card-header {
  padding: 2px 4px;
  border-radius: 28px !important;
  background-color: #f6c90e;
}

.cart-item-right-title {
  font-size: 13px;
}

/* RESPONSIVE  */
@media (min-width: 320px) {
  .card {
    padding: 12px 28px !important;
  }

  .cart-wrapper {
    margin-top: -22px;
  }

  .cart-title-price {
    min-width: 270px;
  }

  .cart-item-left {
    width: 90px !important;
  }

  .cart-item-right {
    width: 190px !important;
  }
}
@media (min-width: 480px) {
  .cart-item-left {
    width: 90px !important;
  }

  .cart-item-right {
    width: 190px !important;
  }
}

@media (min-width: 768px) {
  .card-product-wrapper {
    padding-left: 3px;
  }

  .cart-wrapper {
    padding-right: 3px;
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .card-product-wrapper {
    padding-left: 37px;
  }

  .cart-wrapper {
    padding-right: 37px;
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .card-product-wrapper {
    padding-left: 16px;
  }

  .cart-wrapper {
    padding-right: 16px;
    margin-top: 0px;
  }
}

@media (min-width: 1400px) {
  .card-product-wrapper {
    padding-left: 76px;
  }

  .cart-wrapper {
    padding-right: 76px;
    margin-top: 0px;
  }
}
